[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/searchcomplete"]
	path = vim/bundle/searchcomplete
	url = git://github.com/vim-scripts/SearchComplete.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/TaskList"]
	path = vim/bundle/TaskList
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bash/scripts/dircolorsdb"]
	path = bash/scripts/dircolorsdb
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/jshint"]
	path = vim/bundle/jshint
	url = https://github.com/walm/jshint.vim.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
